/* 
    main-color : #009688;
    btn hover color : #6227e7;
*/   
.btn {
  background-color: #009688;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #158c81;
}
.service-item .item a:hover {
  color: #009688;
}
.owl-prev .fa:hover,
.owl-next .fa:hover {
  background-color: #009688;
}
.faq .faqs a:hover {
  color: #009688;
}
.price-item .btn:hover {
  background-color: #009688;
}
.blog-posts .post-item .item-content a:hover {
  color: #009688;
}
.social ul li a:hover {
  background-color: #009688;
}
.copyright a:hover {
  color: #009688;
}
.navbar-toggle .icon,
.navbar-toggle .icon::after, 
.navbar-toggle .icon::before {
  background-color: #009688;
}

.mash {
  background-color: #009688 !important;
}
.single-post .readmore:hover {
  color: #009688;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #009688;
  }
}