/* 
    main-color : #d81d1d;
    btn hover color : #ca1d1d;
*/
.btn {
  background-color: #d81d1d;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #ca1d1d;
}
.service-item .item a:hover {
  color: #d81d1d;
}
.owl-prev .fa:hover,
.owl-next .fa:hover {
  background-color: #d81d1d;
}
.faq .faqs a:hover {
  color: #d81d1d;
}
.price-item .btn:hover {
  background-color: #d81d1d;
}
.blog-posts .post-item .item-content a:hover {
  color: #d81d1d;
}
.social ul li a:hover {
  background-color: #d81d1d;
}
.copyright a:hover {
  color: #d81d1d;
}
.navbar-toggle .icon,
.navbar-toggle .icon::after, 
.navbar-toggle .icon::before {
  background-color: #d81d1d;
}

.mash {
  background-color: #d81d1d !important;
}
.single-post .readmore:hover {
  color: #d81d1d;
}


@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #d81d1d;
  }
}