/* 
    main-color : #e08f16;
    btn hover color : #6227e7;
*/
.btn {
  background-color: #e08f16;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #e08f19;
}
.service-item .item a:hover {
  color: #e08f16;
}
.owl-prev .fa:hover,
.owl-next .fa:hover {
  background-color: #e08f16;
}
.faq .faqs a:hover {
  color: #e08f16;
}
.price-item .btn:hover {
  background-color: #e08f16;
}
.blog-posts .post-item .item-content a:hover {
  color: #e08f16;
}
.social ul li a:hover {
  background-color: #e08f16;
}
.copyright a:hover {
  color: #e08f16;
}
.navbar-toggle .icon,
.navbar-toggle .icon::after, 
.navbar-toggle .icon::before {
  background-color: #e08f16;
}

.mash {
  background-color: #e08f16 !important;
}
.single-post .readmore:hover {
  color: #e08f16;
}


@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #e08f16;
  }

}
