/*
|===================
| MEDIUM DEVICES
|===================
*/
@black: #000;
@black-bg: #202026;
@white: #fff;
@main-color-1: #6D40e3;
@main-color-2: #ff4081;
@main-color-3: #1c93e5;
@main-color: #009688;
@body-bg: #f6f6f6;
@circle-bg: #4c555b;
@form-bg: #313137;
@form-border: #494949;
@btn-color-2: #6227e7;
@import "less-function.less";

.transform-mix( @translateX: 0, @translateY: 0, @translateZ: 0, @rotate: 0deg, @scale: 1 ) {
    transform: translateX( @translateX ) translateY( @translateY ) translateZ( @translateZ ) rotate( @rotate ) scale( @scale );
    -o-transform: translateX( @translateX ) translateY( @translateY ) translateZ( @translateZ ) rotate( @rotate ) scale( @scale );
    -ms-transform: translateX( @translateX ) translateY( @translateY ) translateZ( @translateZ ) rotate( @rotate ) scale( @scale );
    -moz-transform: translateX( @translateX ) translateY( @translateY ) translateZ( @translateZ ) rotate( @rotate ) scale( @scale );
    -webkit-transform: translateX( @translateX ) translateY( @translateY ) translateZ( @translateZ ) rotate( @rotate ) scale( @scale );
}
@media only screen and (max-width: 1400px) {
    .home .color-overlay {
        padding: 120px 0;
    }
}

@media only screen and (max-width: 1200px) {
    .section-title {
        padding: 0 150px;
    }
    .section-separator {
        padding: 80px 0;
    }
    .quate-btn {
        width: 220px;
        padding: 20px;
    }
    .price-item .btn {
        width: 200px;
        padding: 20px;
    }
    .contact-btn {
        width: 65px;
    }
    .get-quate {
        h2 {
            font-size: 30px;
            line-height: 46px;
        }
    }
    .red-circle {
        right: 2%;
    }
}

/*
|===================
| TAB LANDSCAPE
|===================
*/

@media only screen and (max-width: 1024px) {
    .home .color-overlay {
        padding: 100px 0;
    }
    .subcribe .spam {
        margin-top: 70%;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .footer {
        .section-separator {
            padding-bottom: 30px;
        }
    }
    .copyright {
        margin-top: 60px;
    }
}

/*
|===================
| TAB PORTRAIT
|===================
*/

@media only screen and (max-width: 991px) {
    .section-separator {
        padding: 30px 0;
    }
    .navbar-nav > li {
        padding: 0 8px;
    }
    .home .home-content {
        padding: 0 50px;
    }
    .section-title {
        padding: 0 60px;
    }
    .service-item .item {
        padding: 30px 50px;
        margin-bottom: 30px;
    }
    .about-content {
        margin-bottom: 60px;
    }
    .testimonial-content {
        padding: 40px 80px;
    }
    .testimonial {
        .part-2 .clients-logo li a {
            margin: 0 10px 5px 10px;
         }
    }
    .subcribe .spam {
        margin-top: 80px;
    }
    .price-item {
        padding: 30px 50px;
        margin-bottom: 30px;
        .btn {
            margin-top: 20px;
        }
        .price {
            h2 {
                margin-bottom: 30px;
            }
        }
    }
    .get-quate{
        h2 {
            margin-bottom: 30px;
            text-align: center;
        }
    }
    .blog-posts {
        .post-item {
            img {
                float: none;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .blog-posts .post-item {
        margin-bottom: 30px;
        .item-content span {
            opacity: 0.7;
            display: block;
        }
    }
    .blog .button {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .footer-contents {
        margin: 0 auto;
        text-align: center;
        float: none;
        
        .footer-item {
            margin-bottom: 30px;
            h4 {
                font-size: 26px;
                margin-bottom: 20px;
            }
        }
    }
    .social {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .btn-form {
        text-align: center;
    }
    .red-circle {
        position: inherit;
    }
    .image {
        img {
            float: none;
            margin: 0 auto;
            text-align: center;
        }
    }
    .recent-post a {
        text-align: left;
    }
    .sidebar {
        .post-title {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

/*
|===================
| MOBILE DEVICES
|===================
*/

@media only screen and (max-width: 767px) {
    .collapse {
        display: block;
    }
    .navbar-fixed-bottom .navbar-collapse, 
    .navbar-fixed-top .navbar-collapse {
        max-height: inherit;
    }
    .navbar-header{
        position: fixed;
        z-index: 999;
        width: 100%;
        margin-top: 0px;
    }
    .navbar-toggle {
        .icon {
            .transform-mix( @translateX: -50%, @translateY:-50%);
        }
    }
    
    .navbar-toggle .icon,
    .navbar-toggle .icon::after,
    .navbar-toggle .icon::before {
        width: 22px;
        height: 2px;
        position: absolute;
        background-color: @main-color;
        border-radius: 2px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .navbar-toggle .icon::after,
    .navbar-toggle .icon::before {
        content: '';
        top: 0;
        right: 0;
        .transition( 0.6s );
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .navbar-toggle .icon::after {
        .transform-mix( @translateY: 6px);
    }
    
    .navbar-toggle .icon::before {
        .transform-mix( @translateY: -6px);
    }
    
    .navbar-toggle.active .icon::after {
        .transform-mix( @rotate: 138deg);
    }
    
    .navbar-toggle.active .icon::before {
        .transform-mix( @rotate: -135deg);
    }
    
    .navbar-toggle.active .icon::after,
    .navbar-toggle.active .icon::before {
        background-color: @white;
    }
    .navbar-toggle.active {
      background-color: transparent;
    }
    
    .navbar-toggle:focus {
      outline: 0 !important;
    }
    .strict {
        background-color: rgba(0, 0, 0, 0.9);
        padding-bottom: 65px;
    }
    
    .navbar-toggle {
        padding: 15px;
        margin-right: 15px;
        margin-left: 15px;
        z-index: 1000;
        .transition( 0.4s );
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
     }
    .main-navigation .navbar-header .navbar-toggle .icon-bar {
        background-color: #E26127;
        .transition( 0.4s );
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    .main-navigation .navbar-header .navbar-toggle.active .icon-bar {
        background-color: #FFFFFF;
    }
    
    /*-------------------------------*/
    /*            Overlay            */
    /*-------------------------------*/
    .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: fade(@black, 40%);
      z-index: 3;
      &.active{
        display: block;
      }
    }
      /*  Navigation Menu */

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 990;
        margin-top: 0px;
        padding: 0;
        background-color: @main-color;
        .transform-mix( @translateX: -100%);
        .transition( 0.4s );
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-y: scroll;
    
        .nav {
            margin-top: 75px;
            border-top: 1px solid;
            border-top-color: rgba(255, 255, 255, 0.1);
            padding: 20px;
            
            li{
                text-align: center;
                margin-bottom: 20px;
                .transition( 0.4s );
                transform: translate3d(-20px, -10px, 0);
               
               a{
                    color: rgba(255, 255, 255, 0.6) !important;
                    background-color: transparent;
                    text-transform: uppercase;
                    font-size: 17px;
                    line-height: 26px;
                    font-family: 'Playfair Display', serif;
                    
                    &:hover{
                        color: white !important;
                        background: transparent;
                    }
               } 
               a.active{
                   color: @white;
               }
            }
            li.active{
                color: @white;
            }
        }
     }
  
    .navbar-collapse.active {
        .transform-mix;
    }
    .collapse.in {
      background-color: fade(#000, 90%);
    }
    .testimonial {
        .part-2 .clients-logo li {
            width: 49%;
        }
        .part-2 .clients-logo li a {
            margin: 0 10px 5px 10px;
        }
    }
    .comment-img {
        img{
            float: none;
            margin: 0 auto;
            text-align: center;
        }
    }
}

/*
|===================
| SMALL MOBILE
|===================
*/

@media only screen and (max-width: 420px) {
    .btn {
        width: 250px;
        padding: 20px 30px;
    }
    .section-title {
        padding: 0 15px;
    }
    .home .home-content {
        padding: 0 6px;
        h1 {
            font-size: 40px;
            line-height: 55px;
        }
        p{
            margin-bottom: 40px;
        }
    }
    .service-item .item {
        padding: 30px 6px;
    }
    .testimonial-content {
        padding: 40px 20px;
    }
    #mailchimp-subscribe .form-control {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-btn {
        width: 180px;
    }
    .subcribe .spam {
        margin-top: 40px;
    }
    .price-item {
        padding: 30px 0;
    }
    .faq .faqs {
        padding: 30px 10px;
    }
    .button {
        margin-top: 10px;
    }
    .blog-posts .post-item .item-content {
        padding: 20px 10px;
    }
    .social ul li {
        margin-bottom: 30px;
    }
    .each-blog {
        padding: 0px;
    }
}