/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .Site-content {
  padding: 60px 0px 0px;
}

.footer > .Site-content {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
