/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .site-content {
}

.footer > .site-content{
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
